body {
   background-image: url('../images/background.jpg');
}

li {
    color: black;
    font-weight: 800;  
    list-style-type:decimal bold; /* Remove default list item bullets */
}

#unordered
{
    list-style-type: square;
    padding: 5px;
    margin: 4px;
    font-size: 20px;
    font-weight: 100;
    width: 350px;
    background-color: #5aac65;
    border-radius: 5px;
}
#ordered{
    background-color:#2d8839;
    padding: 10px;
    font-size: 20px;
}
ul
{   
    list-style-type:none;
    gap: 1px 15px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    max-height: 300px;
    width: 1000px;
    
}

.flexxx{
    margin: 20px;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    /* flex-wrap: wrap; */
}

img{
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(1, 27, 3);
    margin: 10px;
    border-color: #031b04;
    /* border-width: 10px; */
    /* flex-grow: 1;  */
    background-color: rgb(207, 235, 194);
    
}

p { /* Adjust the maximum width of your content */
    font-weight: bold;
    flex-grow: 1;
    border-radius: 10px; 
    background-color: rgb(52, 88, 35);
    padding: 25px;
    max-width: 600px;
    color: #ecf1e9;  
}







#or-line
{
    padding: 5px;
    background-color: rgb(112, 221, 121);  
    width: 790px;
}

ol {
    font-size: 20px;
    line-clamp:initial;
    width: 800px;
    list-style-type: bold;
    
}



#ing{
    font-size: 40px;
    background-color: rgb(8, 34, 8);
    color: wheat;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    font-weight: 600;
    width:400px;
    margin-top: 5px;
    margin-bottom: 20px;
}

#make{
    font-size: 40px;
    background-color: rgb(8, 34, 8);
    color: wheat;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    position: relative;
}

button{
    margin: 1px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(199, 53, 82);
}

h1{
    border: 2px solid rgb(57, 134, 54);
    width: 500px;
    font-weight: 800;
    font-size: 40px;
    background-color: rgb(152, 224, 152);
    margin: auto;
    padding:13px ;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-width: 5px;
    text-align: center;
}

.top-right-button {
   position: fixed;
   top: 10px;
   right: 10px;
   font-weight: 800;
   font-size: 20px;
   padding: 10px;
   background-color: #4CAF50;
   color: rgb(15, 0, 0);
   border-radius: 5px;  
   cursor: pointer;
   margin: 17px;
}

a {
    color: rgb(8, 1, 39);
    text-decoration: none;
}



.bb{
    border: 10 solid #030c3b;
}
.bottom-back{
    font-size: 20px;
    position: relative;
    border: 0 solid #0c26bd;
    border-radius: 10px;
    background-color: rgb(211, 39, 73);
    padding: 8px;
}

.box1 {
    padding: 30px;
    color: #000000;
    font-weight: 800;
    font-size: 30px;
    background-color: rgb(7, 122, 22);
    border: 25px solid rgb(77, 3, 3);
    width:60%;
    border-radius: 30px;
    margin: 0 0 20px 0;
    display: block;
  } 

.box2{
    
    width: 8px;
    margin: 10px 10px 5px 1px;
    padding: 10px;
    color: #0c26bd;
    font-weight: 800;
    display: block;
    font-size: 25px;
    background-color: rgb(230, 98, 21);
    border: 10px solid rgb(80, 2, 2);
    width: 100px;
    height: 100px;
  }
