body {
    background-image: url('../images/background.jpg');
}

#ing{
    font-size: 40px;
    background-color: rgb(8, 34, 8);
    display: inline;
    color: wheat;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position:static;    
    font-weight: 300;

}

h1{
  
    top: 1000px;
    left: 10px; 
    font-weight: 800;
    font-size: 60px;
    background-color: rgb(152, 224, 152);

    display:inline-block;
    padding:10px ;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
   
}



li {
    color: black;
    font-size: 20px;  
    list-style-type:decimal; /* Remove default list item bullets */
}

#unordered{
    list-style-type: square;
    padding: 2px;
    white-space: nowrap;
}

ul {
    
    columns: 2;
    list-style: none; /* Remove default list styles */
    overflow: hidden; /* Clear the float */
}

#or-line
{
    padding: 5px;
    background-color: rgb(164, 196, 161);  
}

#ordered{
    font-size: 25px;
    padding: 5px;
    white-space: nowrap; 
    
}

ol {
    font-size: 20px;
    line-clamp:initial;
}

ol > span {
    display: inline-block;
    color: black;
    font-size: 25px;
    margin-left: 1px;
    padding: 5px; 
}


img{
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(114, 136, 116);
    padding: 2px;
}

    
li > span {
    columns: 2;
    float:none; /* Float th]e list items to create a two-column layout */
    width: calc(50% - 5px); /* Set the width of list items for two columns with gap */
    margin-right: 5px; /* Adjust the gap between columns */
    box-sizing: border-box; /* Include padding and border in the width */
    /* Optional: Add styles for list items */
    margin-bottom: 5px;

    display: inline-block;
    color: black;
    background-color: rgb(164, 196, 161);
    margin-left: 1px;
    padding: 5px; /* Adjust the padding to control the amount of background around the text */
}

.content {
    max-width: 800px; /* Adjust the maximum width of your content */
    margin: 10px 0;  /* Center the content on the page */
    font-weight: bold;
    background-color: rgb(212, 240, 209);
    text-align:justify;
    display: grid;
    border: 2px solid black; 
    padding: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    
}


.top-right-button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-weight: 800;
    font-size: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: aliceblue;
}
